* {
margin: 0;
padding: 0;
}

body {
background-color: rgb(228,228,228);
font-family: Arial;
text-align: center;
}

h1 {
padding-top: 1em;
}

a {
color: rgb(169,23,169);
}

table, th, td {
border: 1px solid gray;
border-collapse: collapse;
}

table {
margin: auto;
}

td, th {
padding: .3em;
width: 30px;
}

footer {
padding: 1em;
}

#tip{
cursor: pointer;
display: inline-block;
margin: auto;
position: relative;
width: 250px;
}

#tip h3 {
color: rgb(117,16,117);
}

#tip #rules{
background-color: rgb(22,22,22);
border-radius: 5px;
color: rgb(250,216,250);
left: 15px;
opacity: 0;
padding: 10px;
position: absolute;
text-align: left;
top: 120%;
visibility: hidden;
width: 200px;
z-index: 1;
}

#tip #rules ul {
padding: 5px 20px;
}

#tip:hover #rules{
opacity: 1;
visibility: visible;
}

#rules p {
margin: .6em;
}

#game {
padding-top: 1.5em;
}

#game h3 {
background-color: rgb(247,199,247);
border-radius: 10px;
margin: auto;
padding: 1em;
width: 300px;
}

#game p {
margin: 25px 0 15px;
font-size: 1.2em;
}

#game button {
background-color: rgb(247,199,247);
border: 0;
border-radius: 9px;
font-size: 1em;
margin: 0 5px;
padding: 7px;
width: 100px;
}

#game button:hover {
background-color: rgb(233,95,233);
}

#s {
display: none;
margin: auto;
width: 300px;
}

#s ul {
margin: 0;
padding: 0;
}

#s li {
border-bottom: 1px solid black;
float: left;
list-style-type: none;
padding: 25px 0 5px;
width: 150px;
}

#s div {
clear: both;
}

#opt {
display: block;
}

#score {
margin: 20px 0;
}

#h th {
background-color: rgb(178,178,178);
}

#n td {
background-color: rgb(208,208,208);
font-size: 10px;
}

#reset {
color: rgb(117,16,117);
cursor: pointer;
display: none;
margin: 15px;
}

.left {
text-align: left;
}

.right {
text-align: right;
}
